@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #001f3f;
}

::-webkit-scrollbar-thumb {
  background: #007BFF;
  border-radius: 5px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
}